{
  "env": {
    "COVERAGE": {
      "plugins": [
        "istanbul"
      ],
      "exclude": [
        "**/packages/**",
        "**/node_modules/**",
        "**/tests/",
        "**/*.tests.js",
        "**/*.test.js"
      ]
    }
  }
}
